<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>관리자 페이지</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid p-4" style="background-color: #eee">
      <div class="row">
        <div
          class="container-fluid"
          style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
        >
          <h1 class="my-5 text-center">관리자페이지 - 회원목록</h1>

          <table class="table table-striped">
            <tbody id="member-tbody">
              <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>암호</th>
                <th>이메일</th>
                <th>가입일</th>
                <th class="text-center">수정</th>
                <th class="text-center">삭제</th>
              </tr>
            </tbody>
          </table>

          <div class="text-center my-5">
            <a href="/join" class="btn btn-primary" role="button">회원가입</a>
            <a href="/login" class="btn btn-danger" role="button">로그인</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.addEventListener("load", function () {
        fetch("/api/v1/members", {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => res.json())
          .then((data) => makeMemberList(data));
      });

      const makeMemberList = (memberList) => {
        let tableHead = document.getElementById("member-tbody");
        memberList.map((member, idx) => {
          tableHead.insertAdjacentHTML(
            "beforeend",
            `<tr>
              <td>${idx + 1}</td>
              <td>${member.username}</td>
              <td>${member.password}</td>
              <td>${member.email}</td>
              <td>${member.joinDate}</td>
              <td class="text-center">
                <a
                  href="/update?index=${idx}"
                  class="btn btn-danger"
                  role="button"
                  >수정</a
                >
              </td>
              <td class="text-center">
                <button
                  class="btn btn-danger"
                  onclick="deleteFn(${idx});"
                >
                  삭제
                </button>
              </td>
            </tr>`
          );
        });
      };

      const deleteFn = (index) => {
        fetch(`http://localhost:8080/api/v1/delete?index=${index}`)
          .then((res) => res.json())
          .then((data) => {
            if (data.status === "success") {
              alert(data.message);
              location.reload();
            }
          })
          .catch((error) => console.error(error));
      };
    </script>
  </body>
</html>
